<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
    gdffdsfdfpsd
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="cht-win">
    <div class="cht-thrd" id="chat-{{ind}}" *ngFor="let item of chatData; let ind=index;">
      <div class="cht-msg {{(ind%2==0)?'left':'right'}}">
        {{item.value}}
        <span class="cht-tym">10:20 pm</span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="action-row">
    <ion-item class="send-cmd">
      <ion-textarea class="send-cmd-item" placeholder="Type here to send message"></ion-textarea>
      <ion-icon item-end class="send-cmd-icon" name="send"></ion-icon>
    </ion-item>
  </div>
</ion-footer>
