<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="back"></ion-icon>
    </button>
    
    <ion-title>Home</ion-title>

  </ion-navbar>
</ion-header>
<ion-content padding>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
